<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>1zsign Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body style="background-color: #30312D; color: #ffffff">
<img src="cid:ticket" />
<h2 style="color: #ffffff;">線上網站</h2>
<h3 style="color: #ffffff;">尾牙前</h3>
<p>⚀ 新竹同仁請使用個人行動網路，若無法連線請檢查是否正在使用公司Wi-Fi連線。</p>
<p>⚁ 請使用手機掃描以上 QRCode 或連結至 <a style="color: #e2ce1d;" href="https://59.124.167.226:9443/ChangingCasino/#/home">全景娛樂城</a> 後使用上面票券帳密登入。帳號/密碼: ${userName}/${password}</p>
<p>⚂ 請於尾牙開始前測試是否能登入，若無法登入請儘速聯絡新竹技術處 Ziv。</p>
<p>⚃ 登入成功後，主畫面會顯示個人資訊。資訊確認無誤後請點選右上角 ⋯ 中的登出即可。</p>

<h3 style="color: #ffffff;">尾牙當天</h3>
<p>⚀ 當天有任何疑難雜症請點此處加入<a style="color: #e2ce1d;" href="https://line.me/ti/g2/KLVa6HJ3XyEYEDyPXPe_04AIonkICGPxMxEXLw?utm_source=invitation&utm_medium=link_copy&utm_campaign=default">全景娛樂城群組</a>會有專人為您服務。</p>
<p>⚁ 遊戲注意事項: </p>
<ul>
    <li>遊戲分別有<u>二位元</u>與<u>不可能的任務</u>。<br/>這兩個遊戲皆會在 1/20 09:00 開放，並於 12:00 結束。超過遊戲預定結算時間 12:00，就會失去獲得籌碼的機會了。</li>
    <li>兩個遊戲皆只能進行一次無法重來，請謹慎思考後再回答。</li>
    <li>不可能的任務需在松菸才可完成，當天抵達松菸後即可打開網站開始執行任務。</li>
    <li>遊戲將於尾牙當天 09:00 準時開放，請不要偷跑喔~</li>
    <li>更詳細的遊戲說明可於網站開放後閱覽，詳細操作可看附件: 遊戲說明。</li>
</ul>
<h2 style="color: #ffffff;">其餘注意事項</h2>
<p>⚀ 請千萬不要遲到，逾時不候。</p>
<ul style="list-style: none; padding: 16px">
    <li>新竹 09:00 準時發車，台北 09:40 準時發車</li>
</ul>
<p>⚁ <a style="color: #e2ce1d;" href="https://docs.google.com/spreadsheets/d/1KxZSeGsaWYnhFfzTCmt5hF79Oqf6b4JZ/edit#gid=585255620">遊覽車與餐廳座位表</a>。</p>
<ul style="list-style: none; padding: 16px">
    <li>以下負責人將於各車出發前進行人數統計，若有突發情況需脫離隊伍時請務必告知各車負責人：<br/>新竹 A 車：林宗霖 Evan<br/>新竹 B 車：林郁舒 SumiLin<br/>台北 A 車：陳威秀 Amber<br/>台北 B 車：陳笙綸 Alan<br/></li>
</ul>
<p>⚂ 自行前往的同仁: </p>
<ul>
    <li>松菸、e7 play 三重館，請自行找停車位。</li>
    <li>松山意舍酒店有附屬停車位，位於 4 樓自市民大道進入，結束用餐後可請工作人員協助消磁。<a style="color: #e2ce1d;" href="https://www.amba-hotels.com/tc/songshan/destination/directions/parking-near-amba">其他停車場資訊</a></li>
</ul>
<p>⚃ e7 play 內同仁可使用設施含: 18 道保齡球球道、3 桌撞球檯、3 台飛鏢機。</p>
<ul>
    <li>B3 保齡球道皆為全景包場，使用時請至少湊齊 6 人或以上使用 1 道，以避免球道不敷使用。</li>
    <li>※ 因不是全場域包場，煩請同仁於當天使用撞球檯與飛鏢機前注意是否有「全景軟體」之標識字條。</li>
</ul>
<p>⚄ 尾牙當天出缺勤處理辦法請依照行政公告處理。</p>
</body>
</html>